<template>
  <div class="c-{{dashCase name}}">
    <h1>{{pascalCase name}}</h1>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({});
</script>

<style lang="scss">
@import '../../assets/styles/main.scss';

.c-{{dashCase name}} {
  
}
</style>
